* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  height: 70px;
  background-color: #12365a;
}
header h1 {
  display: inline-block;
  float: left;
  padding: 15px 10px;
}
header h1 a {
  transition: 0.3s;
  font-size: 20px;
  color: white;
}
header h1 a:hover {
  color: crimson;
}
header ul li a {
  transition: 0.3s;
  color: white;
}
header ul li a:hover {
  color: crimson;
}
header ul {
  float: right; /*pojik kanan*/
}
header ul li {
  padding: 24px;
  display: inline-block;
}
header a {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container::after {
  content: '';
  display: block;
  /*menghilangakan float atas dan bawah : both*/
  clear: both;
}
/*  */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px; /*ngumpetin sidebar*/
  width: 250px;
  background-color: rgba(13, 38, 64, 0.9);
  transition: 0.3s;
}
.sidebar ul li a {
  color: aliceblue;
}
.sidebar ul li {
  padding: 24px;
  transition: 0.3s;
  transition-property: background-color; /*memperjelas bahwa yg transisi hanya bg*/
}
.sidebar ul li:hover {
  background-color: crimson;
}

/* biar sidebar lebih responsif */
.sidebar .about a {
  padding-right: 170px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.sidebar .skill a {
  padding-right: 185px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.sidebar .portofolio a {
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.sidebar .contact a {
  padding-right: 160px;
  padding-top: 20px;
  padding-bottom: 15px;
}
/* jika fungsi check ke check maka side bar muncul */
#check:checked ~ .sidebar {
  left: 0;
}

#icon {
  margin-bottom: 5vh;
  margin-right: 5vh;
  border: 0.01vh solid;
  padding: 3vh;
  border-radius: 8vh;
  background-color: #12365a;
  position: fixed;
  text-decoration: none;
  color: #ddd;
  bottom: 0;
  right: 0;
}
/*  */
.mobile-menu {
  float: right;
  display: none;
  padding: 24px;
}
.mobile-menu:hover {
  cursor: pointer;
}
section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
  align-content: center;
}
section h3::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 1px;
  background-color: black;
  left: calc(50% - 60px);
}
section h3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 40px;
  border-radius: 10px;
  height: 4px;
  background-color: crimson;
  left: calc(50% - 20px);
}
#about p {
  text-align: justify;
  text-indent: 20px;
}

#skills,
#contact {
  background-color: #f9f9f9;
}

#skills .bar {
  height: 20px;
  background-color: white;
  border: 1px solid;
  margin: 5px 0 20px 0;
  border-radius: 40px;
}
.bar .nilai {
  height: 20px;
  background-color: crimson;
  display: inline-block;
  border-radius: 40px;
  color: #fff;
  text-align: center;
}
.html {
  width: 70%;
}
.css {
  width: 50%;
}
.c {
  width: 70%;
}
.java {
  width: 80%;
}
.js {
  width: 20%;
}
.word {
  width: 70%;
}
.exel {
  width: 60%;
}
.col-2 {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  text-align: center;
  align-content: center;
}
.col-2 img {
  width: 80%;
  margin-bottom: 20px;
}
.col-2 a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.col-2 a:hover img {
  transform: scale(1.1);
}

.col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 50px 10px;
  float: left;
  text-align: center;
}
.col-4 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

@media (max-width: 820px) {
  .col-4 {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    float: left;
    text-align: center;
  }
  .col-2 img {
    width: 100% !important;
    margin-bottom: 0px !important;
  }
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
}

#check {
  display: none;
}

.banner {
  background-color: #143f6b;
}

.banner h2 {
  color: white;
}

.banner p {
  color: rgb(230, 229, 229);
}
section {
  padding: 50px 0;
}
.banner img {
  width: 120px;
  border-radius: 70px;
  box-shadow: 0 3px 5px black;
}
.tab {
  display: inline-block;
  margin-left: 40px;
}
.none {
  display: none;
}
