*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.Navbar {
  width: 100%;
}

.wrapper {
  display: flex; /*membuat konten nya bersebalahan (flexibel)*/
  font-size: 15px;
  width: 100%;
  height: 90px;
  padding: 15px;
  justify-content: space-between; /*untuk memberi spasi antara logo dengan link*/
  background-color: #222;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
.logo {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 15px;
  cursor: default;
}
.firstname {
  color: white;
  font-weight: 700; /*ketebalan huruf*/
}
.lastname {
  color: crimson;
  font-weight: 400;
  padding-left: 4px;
}
.navigasi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigasi > li {
  list-style-type: none;
  padding: 15px;
}
.navigasi > li > a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: all 1s ease-in-out;
}
.navigasi > li > a:hover {
  color: crimson;
  transition: all 0.3s ease-in-out;
}
.aktif {
  background-color: crimson;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.aktif:hover {
  color: white !important;
}

.navigasi > li > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.6s ease-in-out;
}
.navigasi > li > img:hover {
  width: 200px;
  height: 60px;
  border-radius: 80px;
  transition: all 0.3s ease-in-out;
}
