body {
  background: linear-gradient(to right, #3437f8, #f44343, #2af320);
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}
h1 {
  margin-top: 20%;
  font-family: Georgia, serif;
  font-size: 23px;
  letter-spacing: -4px;
  word-spacing: 5px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
