body {
  background-color: #0a3a68;
}
.flex-container img {
  float: left;
  width: 100px;
  height: 120px;
}

.flex-container h3 {
  position: relative;
  left: 10px;
  color: #e8ab26;
}

a {
  float: right;
  display: block;
  color: #e8ab26;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  top: 0px;
}

a:hover {
  background-color: #0d5396;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: #e8ab26;
}

#provinsi {
  padding: 8px;
  margin-left: 5px;
  background-color: #e8ab26;
  color: #0a3a68;
}

#kota {
  padding: 8px;
  margin-left: 5px;
  background-color: #e8ab26;
  color: #0a3a68;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d5396;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d5396;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#maps {
  /* height: 300px;
  width: 650px; */
  height: 250px;
  width: 600px;
}
