body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-weight: 'Roboto';
}

/* about section */
.about-section {
  padding: 90px 0 0;
}
.about-section .about-img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.about-section .about-img .img-box {
  position: relative;
}
.about-section .about-img .img-box .shape-02 {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 30px;
  top: 30px;
}
.about-section .about-img .img-box img {
  width: 100%;
  display: block;
}
.about-section .about-content {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 0 15px;
}

.about-section .section-title {
  margin-bottom: 30px;
  font-size: 20px;
  padding: 0;
  font-weight: bold;
}

.about-section .about-content p {
  font-size: 16px;
  color: #555555;
  line-height: 26px;
  margin: 0;
}
.about-section .about-content .stats .stat-box {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  text-align: center;
  margin-top: 30px;
}

.about-section .about-content .stats .stat-box h3 {
  font-size: 25px;
  color: #000000;
  margin: 0 0 5px;
}
.about-section .about-content .stats .stat-box h5 {
  font-size: 16px;
  color: #555555;
  font-weight: 600;
  text-transform: uppercase;
}

/* Work Section */

.work-section {
  padding: 80px 0 0;
}

.work-section .work-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.work-section .work-item-inner img {
  width: 100%;
  display: block;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.work-section .work-item-inner:hover img {
  transform: scale(1);
}
.work-section .work-item-inner {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.work-section .work-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.work-section .work-item-inner:hover .overlay {
  opacity: 1;
}
.work-section .work-item-inner .overlay h5 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  transform: translateX(30px);
  transition: all 0.5s ease;
}

.work-section .work-item-inner:hover .overlay h5 {
  transform: translateX(0);
}
.team-area {
  padding-top: 20px;
  padding-bottom: 40px;
}
.single-team {
  background-color: #212529;
  margin-bottom: 10px;
}
.single-team:hover .social {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.img-area {
  overflow: hidden;
  position: relative;
}
.img-area img {
  width: 100%;
}
.img-area:hover img {
  transform: scale(1.2);
}
.img-area img {
  transition: all 0.4s ease 0s;
}
.img-area .social {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.img-area .social ul {
  text-align: center;
  position: relative;
  top: 60px;
}
.img-area .social ul p {
  color: #fff;
  font-size: 15px;
  padding: 15px;
  padding-bottom: 0px;
}
.img-area .social ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.img-area .social ul li a:hover {
  background-color: #212529;
  color: #ffde59;
  border: 1px solid transparent;
}
.img-text {
  padding: 25px;
  color: #ffde59;
  text-align: center;
}
.img-text h4 {
  margin: 0 0 5px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dd,
dt {
  line-height: 1.42857143;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}

.foto {
  text-align: center;
  margin-bottom: 10px;
}
.foto img {
  width: 50%;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .foto img {
    width: 30%;
    border-radius: 25px;
  }
  .foto {
    text-align: center;
    margin-bottom: 20px;
  }
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
