.flex {
  width: 100%;
}
#book {
  width: 50vw;
  height: 50vh;
  /*   outline:1px solid black; */
  position: absolute;
  left: 25vw;
  top: 25vh;
  perspective: 75vw;
}
.home {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
}
.home a {
  text-decoration: none;
  color: white;
}
#book:before {
  width: 1%;
  height: 100%;
  background: #222;
  content: '';
  position: absolute;
  left: 49%;
  top: 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.75);
  outline: 1px solid black;
}

.page {
  width: 50%;
  height: 100%;
  background: radial-gradient(circle at 0% 100%, #777, #ddd 70%);
  outline: 1px solid black;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  top: 0;
  transition: z-index 0.01s linear 1s, transform 2s linear;
  transform-origin: 0% 50%;
  z-index: 5;
  cursor: pointer;

  font-family: monospace;
  text-align: center;
  line-height: 50vh;
}

/* #page5 {
    transform-origin:-1% 50% !important;
  } */

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  font-family: monospace;
  text-align: center;
  line-height: 50vh;

  opacity: 0;
  transition: opacity 0.1s linear 1s;
}
.front {
  opacity: 1;
}
.back {
  transform: scaleX(-1);
}

input {
  visibility: hidden;
}

label {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  /*   pointer-events:none; */
  /*   visibility:hidden; */
  /*   background:red; */
}

input:checked + .page {
  transform: rotateY(-180deg);
}

input:checked + .page .front {
  opacity: 0;
}
input:checked + .page .back {
  opacity: 1;
}

#five:checked + .page {
  z-index: 5;
}
#four:checked + .page {
  z-index: 4;
}
#three:checked + .page {
  z-index: 3;
}
#two:checked + .page {
  z-index: 2;
}
#one:checked + .page {
  z-index: 1;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: azure;
  background-image: linear-gradient(-45deg, tomato, purple);
}

/* interior pages styles */
#page1 .front {
  font-size: 2vh;
  letter-spacing: 2vh;
  line-height: 50vh;
  font-weight: 900;
  text-align: right;
  background: radial-gradient(circle at 70% 50%, black 50%, #222 40%);
  color: magenta;
  animation: cover 10s linear infinite;
}
@keyframes cover {
  20% {
    color: lime;
  }
  40% {
    color: dodgerblue;
  }
  60% {
    color: gold;
  }
  80% {
    color: cyan;
  }
}

#page1 .back {
  font-size: 25vh;
  color: white;
  text-shadow: -1px 2px magenta, 1px 0px cyan;
  background: #222;
  animation: a 3s linear infinite;
}
@keyframes a {
  45% {
    color: white;
  }
  50% {
    color: #222;
  }
  55% {
    color: white;
  }
}

#page2 .front {
  font-size: 25vh;
  font-family: serif;
  font-weight: 900;
  background: dodgerblue;
  animation: L 10s linear infinite;
}
@keyframes L {
  50% {
    color: dodgerblue;
    background: rgb(0, 0, 0);
  }
}

#page2 .back {
  font-size: 25vh;
  font-weight: 100;
  font-family: sans-serif;
  text-shadow: 5px 5px 0px rgb(0, 0, 0), 7px 7px 0px;
  background: rgb(0, 0, 0);
  color: tomato;
  animation: p 5s linear infinite;
}

@keyframes p {
  50% {
    text-shadow: 13px 13px 0px white, 16px 16px 0px;
  }
}

#page3 .front {
  background: #222;
  color: rgb(0, 0, 0);
  font-size: 25vh;
  font-weight: 900;
  font-family: serif;
  background: rgb(0, 0, 0);
}

#page3 .back {
  background: #222;
  color: rgb(0, 0, 0);
  font-size: 25vh;
  font-weight: 900;
  font-family: serif;
  text-shadow: 5px 0px rgba(255, 0, 0, 0.5), 10px 0px rgba(255, 0, 0, 0.4), 15px 0px rgba(255, 0, 0, 0.3), 20px 0px rgba(255, 0, 0, 0.2), 25px 0px rgba(255, 0, 0, 0.1);
  overflow: hidden;
}

#page3 .back:before {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 17vh;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleY(-1);
  opacity: 0.25;
  animation: aa 1s linear infinite;
}
@keyframes aa {
  50% {
    left: 5px;
  }
}
#page3 .back:after {
  content: '';
  width: 100%;
  height: 20vh;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -2px;
  background: linear-gradient(to top, #222 50%, transparent);
}

#page4 {
  background: white;
}
#page4 .front {
  background: #222;
  color: rgb(0, 0, 0);
  font-size: 25vh;
  font-weight: 900;
  font-family: serif;
  background: rgb(0, 0, 0);
}

#page4 .back {
  height: calc(100%);
  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #ffffff 53%, rgba(255, 255, 255, 0) 0) 0 0,
    radial-gradient(circle closest-side, #ffffff 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48b;
  background-size: 90px 30vh;
  background-repeat: repeat-x;
  color: white;
  font-size: 10vh;
  font-weight: 900;
  font-family: serif;
  text-shadow: -1px -1px #48b, 1px -1px #48b, 1px 1px #48b, -1px 1px #48b;
}

#page5 .front {
  color: gold;
  font-size: 10vh;
  font-weight: 900;
  font-family: serif;
  background: #222;
  text-shadow: 24px 24px purple;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  25% {
    text-shadow: -24px 24px purple;
  }
  50% {
    text-shadow: -24px -24px purple;
  }
  75% {
    text-shadow: 24px -24px purple;
  }
  100% {
    text-shadow: 24px 24px purple;
  }
}

#page5 .back {
  font-size: 2vh;
  letter-spacing: 2vh;
  line-height: 50vh;
  font-weight: 900;
  text-align: left;
  background: radial-gradient(circle at 30% 50%, black 50%, #222 40%);
  color: magenta;
  padding-left: 2vh;
  animation: cover 10s linear infinite;
}
